.mca

mei-filedesc {
      margin-left: 1em;
      padding: 2em; 
      font-family: "Bookman" ;
      font-size: 15pt; 
              color: #C43F22;
      
}

    #title01 {
      font-size: 24pt;
        color: #000000;
       display: block;
       font-weight: bold;
}

mei-title[type="subordinate"] {
      font size 15pt;
      margin-top: -0.5em;
}

mei-filedesc > mei-titlestmt > mei-title {
  color: #000000;
  display: block;
}

mei-filedesc > mei-titlestmt > mei-respstmt {
  display: block;
  margin-top: 1em;
}

mei-filedesc > mei-titlestmt > mei-respstmt > mei-persname[role="composer"]::before {
      font-weight:bold;
      content: "Composer: ";
      white-space: pre;
}

mei-filedesc > mei-titlestmt > mei-respstmt >mei-persname[role="encoder"]::before {
      font-weight:bold;
      content: '\a' "Encoded by: ";
      white-space: pre;
          }


mei-filedesc > mei-titlestmt > mei-respstmt > mei-date::before {
      font-weight:bold;
      content: '\a' "Encoded in: ";
      white-space: pre;
}

mei-filedesc > mei-pubstmt > mei-availability > mei-userestrict {
      display: none;
}

#cpyright::before {
      content: '\a' ;
}

#cpyright     { 
        font-size: 12;
        color: #000000;
       display: block;

}


mei-filedesc > mei-pubstmt > mei-publisher::before { 
      font-weight:bold;
      content: '\a' "Published by: ";
      white-space: pre;
}

mei-filedesc > mei-pubstmt > mei-yearpublished::before { 
      font-weight:bold;
      content: '\a' "Originally published in: ";
      white-space: pre;
}

#name-0000002025072620 {
      display: none;
}

#p-0000001309259469 { 
      display: none;
}
